.map-container {
  position: relative;
  margin: 30px;
  width: 80vw;
  height: 60vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}