.text-container {
  position: relative;
  margin: 30px;
  width: 80vw;
  height: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
}

img {
  position: relative;
}

.me {
  width: 80vw;
  height: auto;
  max-width: 400px;
  clip-path:  circle(38% at center);
  margin: -12% auto -12%;
}