<div class="container">
  <div class="text-container">
	<h1>О нас</h1>
	<p>Карта турниров ЧГК - сервис, отображающий на карте города, в которых будут проводиться очные турниры ЧГК. Можно установить фильтр по дате. Так как работа сервиса основана на выгрузке данных с сайта рейтинга, отображаются только турниры, которые внесены туда заранее. <br> Уважаемые оргатизаторы! Пожалуйста, вносите турниры на сайт рейтинга заранее!</p>
	<br>
	<h2>Создатель - Михаил Московченко</h2>
	<div>
	<img src="https://sun9-44.userapi.com/impg/i1UO4pWYlCeiKlN_bS1EX3Ob63AfSR50lsMUXA/IO0sfuDhN-A.jpg?size=1440x2160&quality=96&sign=fee9b39b37ad5efee99772e9bf629117&type=album" class="me">
	</div>
	<p>Модный географ-аналитик-айтишник-ЧГКшник 23 лет от роду. Житель Тюмени, Москвы, села Зипово. Умею в Python, Node JS, ГИС, машинное обучение, анализ данных. Люблю котят, мемы и инди-рок. Ищу работу и няшную тяночку. </p>
	<a href='https://vk.com/id156364048' target="_blank"><mat-icon svgIcon='vk' color='primary'></mat-icon></a>
	<a href='https://www.facebook.com/moskovchenkomd' target="_blank"><mat-icon svgIcon='fb' color='primary'></mat-icon></a>
	<a href='https://www.instagram.com/mikemoskovchenko/' target="_blank"><mat-icon svgIcon='ig' color='primary'></mat-icon></a>
	<a href='https://github.com/simonreise' target="_blank"><mat-icon svgIcon='gt' color='primary'></mat-icon></a>
	<br>
	<br>
	<h2>Благодарности</h2>
	<p>Создателям бесплатных open-source фреймворков и библиотек:</p>
	<p><a href='https://nodejs.org/' target="_blank">Node JS</a> - основа всего проекта</p>
	<p><a href='https://expressjs.com/' target="_blank">Express JS</a> - бэкенд</p>
	<p><a href='https://angular.io/' target="_blank">Angular JS</a> - фронтенд</p>
	<p><a href='https://leafletjs.com/' target="_blank">Leaflet</a> - интерактивная карта</p>
	<p><a href='https://www.openstreetmap.org/' target="_blank">OpenStreetMap</a> - базовая карта</p>
	<p><a href='https://rating.chgk.info/' target="_blank">Админам сайта рейтинга</a> за API (почти не бесполезный)</p>
  </div>
</div>
